# Node
app/node_modules
app/npm-debug.log

# Terraform
**/.terraform/*
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Env
.env
.env.*